@import url("https://fonts.googleapis.com/css2?family=");
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
a {
    text-decoration: none;
}
.header
{
    position: fixed;
    top:0;
    left:0;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    background: rgb(236, 212, 26);
}
.nav{
    max-width: 1100px; 
    width: 100%;
    margin:0 auto ;
}
.nav, 
.nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

}
.nav_logo,.nav_link,.button
{
    color:red;
    
}
.nav_logo
{
    font-size: 25px;
}
.nav_item{
    column-gap: 25px;
}
.nav_link{
color: white;
}
.nav_link:hover{
    color:blue;

}
.button{
    padding:6px 24px;
    border:2px solid rgb white;
    background:transparent;
    border-radius: 6px;
    cursor:pointer;

}
.button:active{
    transform: scale(0.98);
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("photo.jpeg");
    background-size: cover;  
    background-position: center;
}
.home::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 208, 0);
    background-image:url("images\ \(1\).jpeg") ;
    background-size: cover;
    background-position: center;
    z-index:100;
    opacity: 0;
    pointer-events: none;
    transition:all 0.5s  ease-out;
}
.home.show::before{
    opacity: 1;
pointer-events: auto;
}
.form_container{
    position: fixed;
    max-width: 320px;
    width:100% ;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%,-50%)  scale(1.2);
    z-index: 101;
    padding: 25px;
    border-radius:12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity:0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}
.home.show .form_container{
    opacity:1;
    pointer-events: auto;
    transform: translate(-50%,-50%)  scale(1);
}
.signup_form
{
    display:none;
}
.form_container.active .signup_form{
    display: block;
}
.form_container.active .login_form{
    display: none;
}
.form_close{
    position: absolute;
    top: 10px ;
    right: 20px;
    color: black;
    font-size: 22px;
    opacity: 0.7;
    cursor:pointer;

}
.form_container h2{
    font-size: 22px;
    color: black;
    text-align: center;
}
.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input_box input{
    height: 100%;
    width: 100%;
    border:none ;
    outline:none;
    padding: 0 30px;
    border-bottom:1.5px solid white;
    color: grey;
    transition:all 0.2s ease;

}
.input_box input:focus
{
    border-color:blueviolet;
}
.input_box i{
    position :absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;

}
.input_box i.email
,.input_box i.password{
    left:0;
} 
.input_box input:focus
{
    border-color:blueviolet;
}
   .input_box input:focus ~ i.email
,.input_box input:focus ~ i.password{
    color:blueviolet;
}
.input_box i.pw_hide{
    right:0;
    font-size: 18px;
    cursor: pointer;
}
.option_field{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_container a{
    color: blueviolet;
    font-size: 12px;
}
.form_container a:hover{
    text-decoration: underline;
}
.checkbox
{
    display: flex;
    column-gap: 8px;
    align-items: center;
    font-size: 12px;
    white-space :nowrap;
}
.checkbox input{
    accent-color: rgb(55, 187, 187);
    margin-left: 8px;
    
}
.checkbox label{
    font-size: 12px;
    
    color:black;
    user-select: none;
    cursor: pointer;
}
.form_container .button{
    background: rgb(234, 238, 15);
    margin-top: 30px;
    width:100%;
    padding: 10px 0;
    border-radius:10px;
}
.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}





/*todo style
body {
    font-family: Arial, sans-serif;
  }
  #todo-list {
    max-width: 400px;
    margin: 0 auto;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  input[type="checkbox"] {
    margin-right: 10px;
  }*/

  /*todo style*/
body {
    font-family: Arial, sans-serif;
    background-image: url('pic.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  #todo-list {
    max-width: 400px;
    background-color: rgba(228, 225, 38, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"] {
    margin-right: 100px;
  }
  
